# Next.js Internal Service URLs (For Docker/Proxy Rewrites)
BACKEND_INTERNAL_URL=http://localhost:5000
IOT_INTERNAL_URL=http://localhost:3000

# Public Client API URL
NEXT_PUBLIC_API_URL=http://localhost:5000
