# PostgreSQL Database Credentials
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=web_server

# PgAdmin Credentials
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=your_pgadmin_password

# Email Service
EMAIL_USER=your_email@example.com
EMAIL_PASS=your_email_app_password

# Database Connection Settings
DB_USER=your_db_user
DB_HOST=localhost
DB_DATABASE=web_server
DB_PASSWORD=your_db_password
DB_PORT=5432

# MongoDB Connection String
MONGO_URL=mongodb://localhost:27017/esp32_db

# Docker Volumes & Networks
MONGO_VOLUME=/data/db
POSTGRES_DB_VOLUME=/var/lib/postgresql/data
IMAGES_PROFILE_VOLUME=/app/uploads/profile_Image

NETWORK_NAME=app-net
