NEXT_PUBLIC_API_URL=http://localhost:5000
PORT=4000
IOT_SERVER_URL=http://localhost:3000

DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=web_server
DB_NAME=web_server
DB_USER=admin
DB_PASSWORD=admin123

# Email service (Resend)
RESEND_API_KEY=re_YOUR_KEY_HERE
RESEND_API_KEY_OTP=re_YOUR_KEY_HERE

RESEND_FROM_EMAIL=ATJ-Server@atj-robots.online
RESEND_FROM_NAME=ATJRobot

JWT_SECRET=your_jwt_secret
