# MongoDB Connection URL
MONGO_URL=mongodb://localhost:27017/esp32_db

# Time Check & Device Timeout (in minutes)
TIME_CHECK=1
DEVICE_TIMEOUT=2

# Data Retention Settings
DATA_RETENTION_DAYS=1
MONTHS_DELETED=180
